{%extends 'awards/base.html' %}
{% load static %}
{% block content%}
{{block.super}}
<div class="jumbotron">
    <!-- <img src="{% static 'images/bg1.jpg'%}" class="card-img" alt="..."> -->
    <div class="card bg-dark text-white">
        <img src="{% static 'images/bg1.jpg'%}" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="text-center header">
                <h3>Gallery app for the new 2020</h3>
                <p>by Tito from Bomet</p>
            </div>
            <div class="review justify-content-center">
                <div class="result">
                    <small>
                        7.5
                    </small>
                    <p>Points</p>
                </div>
                <div class="Design">
                    <small>
                        7.5
                    </small>
                    <p>Design</p>
                </div>
                <div class="Usability ">
                    <small>
                        7.5
                    </small>
                    <p>Usability </p>
                </div>
                <div class="Creativity ">
                    <small>
                        7.5
                    </small>
                    <p>Creativity</p>
    
                </div>

            </div>
        </div>
      </div>
</div>

<div class="container">
    <h5 class="text-center">
        Sites In The Dashboard
    </h5>
    
    <div class="row">
        {% for post in posts%}
        <div class="col-md-4 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="{{post.project_image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="p_name">{{post.title}}</h5>
                    <div class="overview">
                        <p>From {{post.user.country}}</p>
                        <span>{{post.pub_date|date}}</span>
                    </div>
                    <div class="view justify-content-between">
                        <h5>_ by {{post.user}}</h5>
                        <a class="btn btn-info" href="{% url 'review' %}">Review</a>
                    </div>
                </div>
              </div>
        </div>
        {% endfor%}
        <div class="col-md-4 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/bg2.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="p_name">Gallery</h5>
                    <div class="overview">
                        <p>from Bomet</p>
                        <span>23 oct 2021</span>
                    </div>
                    <div class="view justify-content-between">
                        <h5>____ by Tito</h5>
                        <button class="btn btn-info">Review</button>
                    </div>
                    
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/bg1.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="p_name">Gallery</h5>
                    <div class="overview">
                        <p>from Bomet</p>
                        <span>23 oct 2021</span>
                    </div>
                    <div class="view justify-content-between">
                        <h5>____ by Tito</h5>
                        <button class="btn btn-info">Review</button>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/bg3.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="p_name">Gallery</h5>
                    <div class="overview">
                        <p>from Bomet</p>
                        <span>23 oct 2021</span>
                    </div>
                    <div class="view justify-content-between">
                        <h5>____ by Tito</h5>
                        <button class="btn btn-info">Review</button>
                    </div>
                </div>
              </div>
        </div>
    </div>
    

</div>

{% endblock %}
