{%extends 'awards/base.html' %}
{% load static%}
{% block content%}
{{block.super}}
<div class="container">
    <h6 class="name mt-5">Tito From Bomet</h6>
    <div class="content mr-4 mt-2 ml-4 mb-2">
        <div class="projectImage">
            <img src="{% static 'images/bg2.jpg'%}" class="card-img-top" alt="...">
            
        </div>
        <button class="btn btn-info btn-lg col-12 mx-auto"> Vote Now</button>
        <div class="details mt-5">
            <div id="title">
                <h4>Gallery App</h4>
                <p>
                    by Tito
                </p>
            </div>
            <span class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                 It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </span>
        </div>

        <div class="user-votes">
            <div id="header">
                <h4>User Votes</h4>
                <hr>

            </div>
            <div id="user-vote">
                <div class="row">
                    <div class="col-md-6">
                        <div id="user">
                            <img src="{% static 'images/user2.jpg'%}" alt="">
                            <strong>Zajno from United States<br> Tito.com</strong>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="review-vote justify-content-center">
                            <div id="result">
                                <p>
                                    Points
                                </p>
                                <small>
                                    7.5
                                </small>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div id="user">
                            <img src="{% static 'images/user2.jpg'%}" alt="">
                            <strong>Zajno from United States<br> Tito.com</strong>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="review-vote justify-content-center">
                            <div id="result">
                                <p>
                                    Points
                                </p>
                                <small>
                                    7.5
                                </small>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
               

            </div>
            

        </div>

    </div>
</div>
{% endblock %}