{%extends 'awards/base.html' %}
{% load static%}
{% load bootstrap3 %}
{% block content%}
{{block.super}}
<div class="container">
    <h6 class="name mt-5">Tito From Bomet</h6>
    <div class="content mr-4 mt-2 ml-4 mb-2">
        <div class="projectImage">
            <img src="{{project.project_image.url}}" class="card-img-top" alt="...">
            
        </div>
        <button class="btn btn-info btn-lg col-12 mx-auto"> Vote Now</button>
        <div class="details mt-5">
            <div id="title">
                <h4>{{project.title}} </h4>
                <p>
                    by {{project.user}}
                </p><br>
                <p>
                    {{project.desc}}
                </p>

            </div>
            <span class="text-center">{{ project.description  }}
            </span>
        </div>

        <div class="user-votes">
            <div id="header">
                <h4>User Votes</h4>
                <hr>
            </div>
             <div class="row">
                <div class="col-md-4">
                    <h2 class="mt-4">Review Rate</h2>
                    {% if rating_status %}
                    <h5>Already done your review</h5>
                    {% else %}
                    {% if user.is_authenticated %}
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn btn-sm btn-info btn-block" style="margin-top:4px;" value="review" type="submit">Rate</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>

            </div>
            <div class="container">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h3 class="text-center">Scores</h3>
                    <div class="col-md-12">
                        <div class="col-md-3" id="c">
                            <span class="sc">Average</span>
                        </div>
                        <div class="col-md-2" id="c">
                            <span class="sc">Design</span>
                        </div>
                        <div class="col-md-2" id="c">
                            <span class="sc">Usability</span>
                        </div>
                        <div class="col-md-2" id="c">
                            <span class="sc">Content</span>
                        </div>
                        <div class="col-md-3" id="c">
                            <span class="sc">Rated by:{{project.user.username}}</span>
                        </div>
                    </div>
                    {% for reviews in reviews %}
                    <div class="col-md-12">
                        {% if post.id == review.post.id %}
                        <div class="col-md-3" id="c">
                            <span class="sc">{{ reviews.average  }}</span>
                        </div>
                        <div class="col-md-2">
                            <span class="sc">{{ reviews.design }}</span>
                        </div>
                        <div class="col-md-2" id="u">
                            <span class="sc">{{ reviews.usability }}</span>
                        </div>
                        <div class="col-md-2" id="c">
                            <span class="sc">{{ reviews.content }}</span>
                        </div>
                        <div class="col-md-3" id="c">
                            <span class="sc">{{ reviews.user.username }}</span>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="col-md-2"></div>
                </div>
                <table style="width:100%">
                    <tr>
                    <th>Voters</th>
                      <th>Design</th>
                      <th>Usability</th>
                      <th>Creativity</th>
                      <th>Points</th>
                    </tr>
                    {% for reviews in reviews %}
                    <tr>
                        {% if post.id == review.post.id %}
                      <td>reviews.user.username</td>
                      <td>{{ reviews.design }}</td>
                      <td>{{ reviews.usability }}</td>
                      <td>{{ reviews.content }}</td>
                      <td>reviews.average </td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            

        </div>

    </div>
</div>
{% endblock %}


