{%extends 'awards/base.html' %}
{% load static%}
{% load bootstrap3 %}
{% block content%}
{{block.super}}
<div class="container">
    <a class="btn btn-lg btn-secondary" href="{url 'awards'}">Go Back</a>
    <div class="content mr-4 mt-2 ml-4 mb-2">
        <div class="projectImage">
            <img src="{{project.project_image.url}}" class="card-img-top" alt="...">
            
        </div>
        <a href="{{project.url_link}}" class="btn btn-lg btn-info">View</a>
        <button class="btn btn-info btn-lg col-12 mx-auto" > Vote Now</button>
        <div class="details mt-5">
            <div id="title">
                <h4>{{project.title}} </h4>
                <p>
                    by {{project.user}}
                </p><br>
                <p>
                    {{project.desc}}
                </p>

            </div>
            <span class="text-center">{{ project.description  }}
            </span>
        </div>

        <div class="user-votes">
            <div id="header">
                <h4>User Votes</h4>
                <hr>
            </div>
             <div class="row">
                <div class="col-md-4">
                    <h2 class="mt-4">Review Rate</h2>
                    {% if rating_status %}
                    <h5>Already done your review</h5>
                    {% else %}
                    {% if user.is_authenticated %}
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn btn-sm btn-info btn-block" style="margin-top:4px;" value="review" type="submit">Rate</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>

            </div>
            <div class="container">
                <table style="width:100%">
                    <tr>
                    <th>Voters</th>
                      <th>Design</th>
                      <th>Usability</th>
                      <th>Creativity</th>
                      <th>Points</th>
                    </tr>
                    {% for reviews in reviews %}
                    <tr>
                        {% if post.id == review.post.id %}
                      <td>{{reviews.user.username}}</td>
                      <td>{{ reviews.design }}</td>
                      <td>{{ reviews.usability }}</td>
                      <td>{{ reviews.creativity }}</td>
                      <td>{{reviews.average}} </td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            

        </div>

    </div>
</div>
{% endblock %}


