*{
  margin: 0;
  box-sizing: border-box;

}
body{
  background-color: rgb(224, 117, 117);
}


h2
{
  color: green;
}
.logout{
    display: flex;
    font-size: 16px;
}

.logout a{
    text-decoration: none;
    color: aliceblue;
}
/* awards */
.jumbotron img{
  height: 90vh;
  object-fit: cover;
}
.header{
  margin-top: 5rem;
}
small{
  font-size: 24px;
  border-radius: 50%;
  border: 2px solid rgb(236, 245, 236);
  padding: 10px;

}
.review{
  display: flex;
  text-align: center;

}
.Creativity,.result, .Design,.Usability{
  margin: 2rem;
  font-size: 24px;

}
.Creativity p{
  margin-top: 1rem;
}
.Design p{
  margin-top: 1rem;

}
.Usability p{
  margin-top: 1rem;

}
.result p{
  margin-top: 1rem;

}

.overview, .view{
  display: flex;
}
.overview span{
  margin-left: 3rem;
}
/* end */

/* Review */

.content{
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  /* max-width: 70%; */
  /* margin: 3rem; */
}
.projectImage{
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projectImage img{
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;

}
.details #title{
  margin: 2rem;
}

.details span{
  margin: 2rem;
}

.user-votes{
  background-color: rgb(207, 238, 236);

}
.user-votes h4{
  margin: 1rem;
  padding: 1rem;

}



/* end  */